{% extends 'shared/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/land.css' %}">
{% endblock %}


{% block body %}
<header>
    <div id="circle"></div>

    <p>PREPARE-SE, POIS...</p>
    <h1>
        <img src='{% static "home/img/lightning.png" %}' alt='Relâmpago desenhado a mão'>
        { O POWERCAMP }
        <img src='{% static "home/img/lightning.png" %}' alt='Relâmpago desenhado a mão'>
    </h1>

    <h1><span>ESTÁ CHE</span>GANDOO!</h1>

    <h1 id='cron'>0D 0H 0M 0S</h1>

    <a href="{% url 'home:event-form' %}">TO DENTRO</a>
</header>

<section id='what-is'>
    <div class='grid grid-2'>
        <div>
            <h1>O QUE É O <i>POWERCAMP</i>?</h1>
            <img src='{% static "home/video/maskarados.gif" %}' alt='Time Verde da edição 2024' />
        </div>

        <div class='msg'>
            <p>O POWERCAMP É O ACAMPAMENTO DO <a href='https://www.instagram.com/chama.ardente/'>CHAMA ARDENTE</a>,
                REDE DE JOVENS E ADOLESCENTES DA <a href=' https://www.instagram.com/comunidade.casarao/'>COMUNIDADE
                    CASARÃO</a>, QUE OCORRE UMA VEZ AO ANO, EM UM PERÍODO DE 3 DIAS (onde provavelmente será o
                melhor final de semana do seu ano 😉).</p>

            <br>

            <p>NOS JUNTAMOS PARA UM TEMPO DE DIVERSÃO, COMUNHÃO, BRINCADEIRAS, TRILHA, GINCANA, ESPORTES,
                COMPETIÇÃO... MEU DEEEEEEEEEUS, É MUITA COISA! 🤩🤩</p>

            <br>

            <p>COM CERTEZA ESSE TEMPO SERÁ DEMAIS (a não ser que o líder sua equipe não saiba liderar uma trilha 🫣 ai
                é difícil).</p>
        </div>

        <div>
            <h4>E CLARO...</h4>
            <h2>TEMPO COM O SENHOR!</h2>

            <div class='msg'>
                <p>O POWERCAMP É UM ACAMPAMENTO CRISTÃO 🙌 E NÓS, COMO JOVENS CRISTÃOS E COM UM CORAÇÃO DISPOSTO PELO
                    EVANGELHO, TEREMOS NOSSOS DEVOCIONAIS PELAS MANHÃS, E O NOSSO CULTO DE JOVENS QUE OCORRE AOS
                    SÁBADOS NA IGREJA OCORRERÁ NORMALMENTE NO SALÃO DO SÍTIO!</p>

                <br>

                <p>PORTANTO, APROVEITE A NATUREZA PARA CONTEMPLAR A CRIAÇÃO, LEVE BIBLÍA, CADERNO, PAPEL E CANETA, E
                    VÁ SENSÍVEL ÀQUILO QUE VOCÊ VIVERÁ NESSE LOCAL.</p>

                <br>

                <p><strong>E CLARO, COM UM CORAÇÃO CORRETO. 🤨</strong></p>
            </div>
        </div>

        <div>
            <img src='{% static "home/video/pray.gif" %}' alt='Adoração' />
            <img src='{% static "home/video/preach.gif" %}' alt='Pregação' />
        </div>
    </div>
</section>

<section id='map'>
    <h5>AH, MAS EU NÃO SEI SE É LEGAL... 🤔</h5>
    <h1>LOCAL DA OCORRÊNCIA</h1>

    <div>
        <img src='{% static "home/img/arrow1.png" %}' alt='Seta desenhada à mão apontando para Sudeste' />
        <iframe
            src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d116908.43111980327!2d-46.5534976!3d-23.6978176!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cfeabb06ad68b1%3A0x56086afeb3f25b31!2zU8OtdGlvIEJhcm5hYsOpIE_DoXNpcyBkZSBQYXo!5e0!3m2!1spt-BR!2sbr!4v1745259412305!5m2!1spt-BR!2sbr'
            style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade'></iframe>
        <img src='{% static "home/img/arrow2.png" %}' alt='Seta desenhada à mão apontando para Noroeste' />
    </div>
</section>

<section id='price'>
    <h2><i>VALORES</i></h2>

    <div id='price-container'>
        <div class='price-box'>
            <del>
                <strong>LOTE 1: R$370,00</strong>
            </del>
        </div>

        <div id='price-box-glow' class='price-box'>
            <strong>LOTE 2: R$420,00</strong>
        </div>
    </div>

    <a href="{% url 'home:event-form' %}">GARANTA SUA VAGA JÁ!</a>

    <p style='margin-top: 1rem;'>Formas de pagamento: Pix, dinheiro, cartão, até 6 parcelas.</p>
    <p>*AS VAGAS SÃO LIMITADAS, PORTANTO, GARANTA SUA INSCRIÇÃO.</p>
</section>

<section id='faq'>
    <h2>❓<i>FAQ</i>❓</h2>

    <h3>- Serão quantos dias de evento?</h3>
    <p>Ao todo, serão 3 dias de evento, com a saída na comunidade casarão no dia 31 de Outubro e retorno no dia 02
        de Novembro.</p>

    <h3>- Como será a alimentação?</h3>
    <p>Teremos café, almoço, café da tarde e janta. Além disso, haverá também cantina funcionando caso você queira
        consumir. Caso você tenha alergia ou não consuma algum alimento, teremos algo preparado para você, fique
        tranquilo.</p>

    <h3>- Como faço para chegar na Sítio?</h3>
    <p>Teremos um ônibus de viagem, com todo conforto e segurança, para te levar e buscar nessa viagem. Caso haja
        alguma impossibilidade de ir com o ônibus, seja por conta de horário de serviço, por exemplo, entre em
        contato com a liderança para organizarmos sua ida de carro - apenas caso haja real impossibilidade.</p>

    <h3>- O que preciso levar para o evento?</h3>
    <p>Será um evento de duração de 3 dias, com cultos, dinâmicas, trilha, brincadeiras, etc. Todas as informações
        de roupa serão enviadas no manual do participante dias antes, então fique tranquilo, você saberá tudo que
        precisa
        levar.</p>

    <h3>- Documentação...?</h3>
    <p>Leve seu RG, junto dele já estarão todas as informações necessárias. Se algum outro documento for necessário,
        como receita médica ou semelhantes nós te avisaremos também.</p>

    <h3>- Me arrependi, como faço?</h3>
    <p>Sua vaga pode ser cancelada e reembolsada em até 7 dias a partir da data de compra estipulado dentro
        do código de defesa do consumidor. Após esse prazo, será estornado 70% do valor da compra. Você não é MALUCO
        de perder o melhor evento do ano!</p>

    <h3>- Mais dúvidas</h3>
    <p>Entre em contato com seu líder de célula ou discipulador, ou entre em contato através do WhatsApp.</p>

    <a href="{% url 'home:event-form' %}">QUERO ME INSCREVER AGORA</a>
</section>

<footer>
    <h2>esperamos <i>você</i>.</h2>
    <p>separe sua roupe para sujar, seu melhor grito, leia muito a bíblia, leve lanterna e... não apronte!</p>
    <p>(quem avisa amigo é... 😁)</p>

    <video width='760' height='427' controls>
        <source src='{% static "home/video/trailer.mp4" %}' type='video/mp4'>
        Vídeo de trailer do evento indisponível para você...
    </video>

    <img src='{% static "home/img/chama.png" %}' alt='Hand drawned lightning'>
    <p>JEREMIAS 20:9</p>
</footer>

<script>
    const tgt = new Date('2025-10-31T00:00:00').getTime()
    const cron = document.getElementById('cron')

    setInterval(() => {
        const now = new Date().getTime()
        const diff = tgt - now

        const day = Math.floor(diff / (1000 * 60 * 60 * 24))
        const hour = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
        const min = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60))
        const sec = Math.floor((diff % (1000 * 60)) / 1000)

        cron.innerHTML = `${day}D ${hour}H ${min}M ${sec}S`
    }, 1000)
</script>

{% endblock %}
